<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skills</title>
    <link rel="stylesheet" href="/templates/galery-style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <div class="container">
        <div class="hero">
            <nav>
                <img src="/templates/logo.png" class="logo">
                <div class="nav-links">
                    <a href="/templates/home.html">home</a>
                    <a href="/templates/about.html">about</a>
                    <a href="/templates/skills.html">skills</a>
                    <a href="/templates/experience.html">experience</a>
                    <a class="active" href="/templates/galery.html">galery</a>
                    <a href="/templates/contact.html">contact</a>
                </div>
            </nav>
            <div class="content">
                <div class="div-text">
                    <h1>About Me</h1>
                    <p>I'm Ikhsan Humaerah Fatta Basri, an undergraduate student specializing in aquaculture. I am recognized for being proactive, analytical, and creative. My specific interest lies in the application of technology in fisheries, particularly artificial intelligence, and understanding fish physiology. With my focus on aquaculture studies, I am committed to contributing my knowledge and skills to support the growth of the fisheries industry in Indonesia.</p>
                </div>
                <div class="div-text">
                    <div class="right-container">
                        <h4>Education Hystory</h4>
                        <h6>High School</h6>
                        <p>Pinrang Public Vocational High School 2</p>
                        <p>Freshwater Fisheries Agribusiness Study Program</p>
                        <h6>Undergraduate</h6>
                        <p>Hasanuddin University</p>
                        <p>Aquculture Study Program</p>
                        <p>GPA 3.84 of 4</p>
                    </div>
                    <div class="right-container">
                        <h4>Interests and Hobbies</h4>
                        <h6>Interest</h6>
                        <p>The application of technology in fisheries, particularly artificial intelligence</p>
                        <h6>Hobby</h6>
                        <p>Editing and coding</p>
                    </div>
                </div>
            </div>
            <div class="soc-link">
                <a href="https://web.facebook.com/profile.php?id=100081707833000"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="https://www.instagram.com/ikhsanhfb"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://wa.link/pdmumd"><i class="fa-brands fa-whatsapp"></i></a>
            </div>
        </div>
    </div>
</body>
</html>