<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/templates/home-style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <div class="container">
        <div class="hero">
            <nav>
                <img src="/templates/logo.png" class="logo">
                <div class="nav-links">
                    <a class="active" href="/templates/home.html">home</a>
                    <a href="/templates/about.html">about</a>
                    <a href="/templates/skills.html">skills</a>
                    <a href="/templates/experience.html">experience</a>
                    <a href="/templates/galery.html">galery</a>
                    <a href="/templates/contact.html">contact</a>
                </div>
            </nav>
            <div class="content">
                <div class="div-text">
                    <h1>Hi, I'm Ikhsan</h1>
                    <h4>Undergraduate Student</h4>
                    <p>A proactive aquaculture student passionate about enhancing human resources in Indonesia's fisheries sector. I'm dedicated to applying my knowledge to foster the growth of Indonesia's fisheries industry. Explore my portfolio to discover more about my journey and contributions in aquaculture!</p>
                    <a href="#" class="btn">Galery</a>
                </div>
                <div class="div-img">
                    <img src="/templates/forportofolio.png" alt="profile">
                </div>
            </div>
            <div class="soc-link">
                <a href="https://web.facebook.com/profile.php?id=100081707833000"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="https://www.instagram.com/ikhsanhfb"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://wa.link/pdmumd"><i class="fa-brands fa-whatsapp"></i></a>
            </div>
        </div>
    </div>
</body>
</html>